/*
font-family: 'Poppins', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
color pallet: https://color.adobe.com/Flat-UI-color-theme-2469224/
*/

/* ===== color pallet ===== 

#3498DB the sky blue 
#2C3E50 the darker blue
#ECF0F1 the offwhite
*/

* {
  /*font-family: "Palatino Linotype",Palatino,Palladio;*/
  font-family: 'Poppins', sans-serif; 
  box-sizing: border-box;
}

.feed-subhead {
  display: none;
  margin-bottom: 7px;
  font-weight: bolder;
}

/* SIDEBAR MENU */

.tips {
  min-height: 260px;
  /*margin-top: 30px;*/
  margin: 30px 22px 5px 16px;  
  padding: 5px 2px 0 0;
  font-size: 12px;
  border-top: 6px solid #E74C3C;
}

.tips a {
  padding: 0 !important;
}


/* BASE LAYOUT */

.feed {
  width: 80%; 
  float: right;
  padding: 0 10px 0 10px; 
}

.general-feed-subhead {
  margin: 20px 0 7px 0;
  
}

.info-bar {
  width: 20%; 
  float: left;
  background-color: #2C3E50;
  height:100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 11px;
}

.dash-logo {
  font: 19px 'Poppins', sans-serif;
  color: #ECF0F1;
  margin: 10px 0px 0px 16px; 
  background-color: rgba(236, 240, 241, 0.35);
  display: inline;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
}

.subhead {
  font-size: 8px;
  letter-spacing: 4px;
  /*text-align: center;*/
  margin-top: -5px;
  padding-bottom: 4px;
  
}

.menu-links {
  margin: 25px 0 0 0;
}

.info-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: rgba(236, 240, 241, 0.55);
}

.info-bar a:hover, footer .fa:hover  {
  color: #ECF0F1;
  -webkit-transition: .3s; /* Safari */
  transition: .3s;
}

.info-bar footer {
 text-align: center;  
}

footer .fa {
  font-size: 35px;
  min-width: 30px; 
  margin-right: 5px;
  text-align: center;
  color: rgba(236, 240, 241, 0.55);
  
}


/* FEED */






.detail-toggle {
  display: none;
}



dl:hover {
  transition: 30ms;
  cursor: pointer;
}





h1 {
  font-family: 'Poppins', sans-serif; 
}



.name-input, .userstory-input, .tagline-input {
  
  border-color: transparent;
  height: 25px;
  font-size: 14px;
  border: 0;
  outline: 0;
  background-color: #ECF0F1;
  color: grey;
  /*border-bottom: 1px solid black;*/
  width: 125px;
  /*text-align: center;*/
  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #979797;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #979797;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #979797;
}


input[name="tagline"] {
  width: 250px;
}

.tagline-entry {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: 3px dashed #3498DB;

}
/* rgba(236, 240, 241, 0.75) */

.app-form {
  margin-top: 15px;
  margin-bottom: 13px;
}

.app-form legend, .edit-form legend {
  display: none;
}

/* full page background image */

html { 
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(https://source.unsplash.com/-8ttvM3Ca94) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* login and register modal */

.login-register {
  
  max-width: 400px;
  width: 100%;
  border-radius: 1px;
  background-color: #FFF;
  border-top: 4px solid #3498DB;
  display: inline-block;
}



.hero-area {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  vertical-align: top;
}

.fa {
  font-size: 50px;
  color: #fff;
  opacity: .8;
  margin-bottom: 15px;
  margin-right: 15px;
  min-width: 60px;
}

.fa-icon-subhead {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  max-width:300px;
  width: 100%;
  word-wrap:break-word;
  line-height: 120%; 
  text-align: left;
}

.hero-area ul {
  float: left;
}

.centered-div {
  text-align: center;
  margin-top: 10%;
}


/*
.login-register fieldset {
  background-color: #ECF0F1;
}
*/

legend {
  margin-bottom: 10px;
  font: 500 25px 'Poppins', sans-serif;;
}

/* Style inputs, select elements and textareas */
input {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
}

/* Style the label to display next to the inputs */
.reg-login-form label {
  display: none;
}

/* Style the submit button */
.login-register button {
  background-color: #3498DB;
  color: white;
  float: right;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.register-footer, .login-footer {
  background-color: #ECF0F1;
  padding: 15px;
}

.reg-login-form {
  padding: 22px 35px 35px 35px;
}

a {
  color: #E74C3C;
}

/* ===== LOGO ===== */

.logo {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #fff;
  opacity: .5;
  font-size: 35px;
}




/* ===== project entry form =====*/

.js-name-and-tagline {
  font-size: 20px;
  margin-bottom: 10px;
}

button[type="button"], .save-proto, .update-proto {
  color: white;
  background-color: #E74C3C;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 25px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

textarea {
  width: 100%;
  border-color: transparent;
  font-size: 14px;
  border: 0;
  outline: 0;
  background-color: #ECF0F1;
  color: grey;
}

.userstory-input {
  width: 300px;
}

button.more-userstories {
  padding: 2px 8px;
}

input[type="checkbox"] {
  width: auto;
}

#user-sees, #user-does {
  width: 220px;
  min-height: 120px;
}

#user-sees {
  margin-bottom: -4px;
}

fieldset.sees-does {
  padding-bottom: 15px;
}

.see-does fieldset div {
  display: inline-block;
  
}


.user-does-div:before {
  content: " ";
  border: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  max-width: 218px
}

button.more-screens {
  display: block;
  padding: 2px 8px;
  width: 220px
}

.sees-does-block {
  vertical-align: top;
  font-size: 11px;
  max-width:150px;
  word-wrap:break-word;
  line-height: 120%; 
  display: inline-block;
  background-color: #ECF0F1;
  padding: 5px; 

}

.does-result:before {
  content: " ";
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  max-width: 150px;
}

.user-see-do-results {
  overflow: scroll; 
  width: 600px; 
  padding: 10px;
  vertical-align: top;
  min-height: 305px;
  display: inline-block;
}


#inner-scroller {
  width: 10000px;
}


.sees-does-inner-wrapper {
  margin-right: 20px;
  min-height: 308px;
  display: inline-block;
}

.app-form p:last-child {
  margin-bottom: 50px;
}

p.textarea-parent {
  margin-bottom: 5px !important;
}

/* INFO BAR */

aside {
  color: #fff;
}


/* FEED */ 

dl {
  padding: 10px;

}

address {
  margin: 7px 0 7px 0;
}

span.bold-wrapper {
  font-weight: 600;
}

.project-name-tagline {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px; 
  font-weight: 600;
  margin-bottom: 5px;
}

.project-long-desc {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 127%;
}



dt.dt-tag-user-screens {
  margin-bottom: 9px !important;
}

.detail-toggle dt {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px; 
  font-weight: 700;
  margin-bottom: 5px;
}

.detail-toggle dd {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 127%;
}

.prototype {
  border: 1px solid #e8e8e8;
}

.js-client-project {
  padding-bottom: 0;
}

.prototype:hover {
  background-color: rgba(236, 240, 241, 0.4);
}


.publish-form {
  padding: 0 0 8px 7px;
}

.publish-form label, .publish-form  legend {
  display: none;
}

.publish-form input {
  max-width: 25px;
  margin-bottom: -5px;
}

.edit-proto {
  margin: -8px 0 0 10px;
}


/* modal */

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentcolor;
}

.modal {
  position: absolute;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
position: fixed;
z-index: 10;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: hsla(0, 0%, 0%, 0.5);
visibility: hidden;
opacity: 0;
transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
opacity: 1;
visibility: visible;
transition-delay: 0s;
}

.modal-wrapper {
position: absolute;
z-index: 9999;
top: 6em; 
/*left: 50%;*/
/*width: 32em;*/
/*margin-left: -16em;*/
width: 60%;
margin-left: 20%;
background-color: #fff;
box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition {
transition: all 0.3s 0.12s;
transform: translateY(-10%);
opacity: 0;
}

.modal.is-visible .modal-transition {
transform: translateY(0);
opacity: 1;
}

.modal-header,
.modal-content {
padding: 1em;
}

.modal-header {
position: relative;
background-color: #fff;
box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
border-bottom: 1px solid #e8e8e8;
}

.modal-close {
position: absolute;
top: 0;
right: 0;
padding: 1em;
color: #aaa;
background: none;
border: 0;
}

.modal-close:hover {
color: #777;
}

.modal-heading {
font-size: 20px;
font-weight: 900;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h3.modal-subhead {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 800;
  margin-bottom: 5px;
}

.modal-ul li {
  margin-bottom: 15px;
  padding: 10px 10px;
  border-top: 1px solid #b3d4fc;
  border-bottom: 1px solid #b3d4fc;
}

li > span {
  font-weight: 600;
}

/*
.modal-content > *:first-child {
margin-top: 0;
}

.modal-content > *:last-child {
margin-bottom: 0;
}*/
/* end modal */


/* media queries */

@media only screen and (max-width: 768px) { 
  .logo {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
  }

  .hero-area ul {
   float: none;
  }

  .info-bar {
    float: none;
    width: 100%;
    position: static;
    height: auto;
  }

  .feed {
    float: none;
    width: 100%;
  }

  .tips {
    height: auto;
    min-height: 0;
    width: 90%;
    margin: 10px auto 10px auto;
  }
  
  

  /*
  .menu-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .menu-links li {
      float: left;
  }

  .menu-links li a {
      display: block;
      text-align: center;
      padding: 16px;
      text-decoration: none;
  }
*/

.menu-links {
  text-align: center;
  margin-top: 10px;
}

.menu-links li {
  display: inline-block;
 
}

.menu-links li a {
  padding: 6px 8px 6px 8px;
  
}

.dash-logo {
  text-align: center;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.social-footer {
  display: none;
}

.sees-does-inner-wrapper {
  display: block;
  margin-right: 0px;
}

#user-sees, #user-does {
  width: 100%;
}

.user-does-div:before {
  
}


}

@media only screen and (max-width: 1081px) {
  .user-see-do-results {
    width: 500px;
  }
}

@media only screen and (max-width: 955px) {
  .user-see-do-results {
    width: 400px;
  }
}

@media only screen and (max-width: 831px) {
  .user-see-do-results {
    width: 300px;
  }
}

@media only screen and (max-width: 880px) { 

  .tagline-entry span {
    display: table;
    width: 95%
  }

  label[for="app-name"], label[for="tagline-value"] {
    display:table-cell;
    width: 170px;
  }

  .name-input, input[name="tagline"] {
    display:table-cell; 
    width:100%;
    margin-left: 15px;
  }

}

@media only screen and (max-width: 920px) {
  .userstory-input {
    display: block;
    width: 100%;
  }
}


@media only screen and (max-width: 430px) { 
  .fa {
    font-size: 44px;
    margin-right: 0;
  }

  .fa-icon-subhead {
    font-size: 18px;
  }

  
  
  /*

    .info-bar {
  width: 20%; 
  float: left;
  background-color: #2C3E50;
  height:100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 11px;
}


  */

  


}


@media only screen and (max-width: 768px) { 
  .user-see-do-results {
    width: 650px;
  }
}

@media only screen and (max-width: 668px) { 
  .user-see-do-results {
    width: 550px;
  }
}

@media only screen and (max-width: 568px) { 
  .user-see-do-results {
    width: 450px;
  }

  .name-input, input[name="tagline"] {
    display: block;
    margin-left: 0px;
  }

  label[for="app-name"], label[for="tagline-value"] {
    display: block;
    margin-bottom: 5px;
  }

}

@media only screen and (max-width: 468px) { 
  .user-see-do-results {
    width: 350px;
  }

}




@media only screen and (max-width: 368px) { 
  .user-see-do-results {
    width: 300px;
  }

  .fa {
    font-size: 34px;
    margin-right: 0;
  }

  .fa-icon-subhead {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
  }

}
